* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fffbeb;
}

.container {
    background-color: #44403c;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 80px 4fr 1.5fr;
    grid-template-rows:  0.5fr  0.5fr repeat(3, 2fr);
}

.buttons {
    align-self: center;
    grid-column: 4 / 7;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttons button {
    background-color: #14532d;
    color: #fffbeb;
    height: 30px;
    width: 80px;

    border: none;
    border-radius: 4px;
}

.buttons button:hover {
    cursor: pointer;
}

.dashboard {
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: clamp(100%, 20%, 10px);
    height: 100vh;
    background-color: #14532d;
    display: grid;
    grid-row: 1 / 6;
    align-content: start;
    justify-content: center;
}

.dashboard-list {
    list-style: none;

    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.dashboard-list li {
    width: 33px;
    height: 33px;
    color: #44403c;
}

.dashboard-list li img {
    width: 30px;
    height: 30px;
}

.dashboard-list li img:hover {
    position: relative;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.dashboard-list li:nth-child(6) {
    margin-bottom: 50px;
}

.header {
    border-radius: 5px;
    padding: 10px;
    border-bottom: 1px solid #14532d;
    background-color: #292524;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    align-content: center;

}

.search {
    display: flex;
    gap: 10px;
    align-content: center;
}

.hello-message {
    margin-left: 10px;
}

.buttons {
    display: flex;
    gap: clamp(5px, 10%, 10px);
}

.project-content {
    position: relative;
    padding: 80px 10px 10px 10px;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.project-card {
    background-color: #292524;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-left: 2px solid #14532d;
    box-shadow: #292524;
}

.project-card:hover {
    margin-left: 5px;
    border-left: 2px solid #e11d48;
    cursor: pointer;
}

.projects-label {
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
    grid-column-end: -1;
    margin-left: 10px;
}

.project-card h1 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.4rem;
}

.side-content {
    padding: 10px;

    grid-column-start: 3;
    grid-row: 2 / 6;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

.side-content div {
    border-left: 2px solid #14532d;
    box-sizing: border-box;
    padding: 5px;
    background-color: #292524;
    border-radius: 5px;

    width: 100%;
    height: 100%;
}

.side-content div:hover {
    border-left: 2px solid #e11d48;
    cursor: pointer;
}




